In [3]:
import pandas as pd
import numpy as np
import streamlit as st

In [4]:
df = pd.read_csv('35__welcome_survey_cleaned.csv', sep=';')
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
gender,138.0,0.231884,0.423573,0.0,0.00,0.0,0.0,1.0
hobby_art,140.0,0.128571,0.335927,0.0,0.00,0.0,0.0,1.0
hobby_books,140.0,0.464286,0.500514,0.0,0.00,0.0,1.0,1.0
hobby_movies,140.0,0.492857,0.501744,0.0,0.00,0.0,1.0,1.0
hobby_other,140.0,0.264286,0.442535,0.0,0.00,0.0,1.0,1.0
hobby_sport,140.0,0.464286,0.500514,0.0,0.00,0.0,1.0,1.0
hobby_video_games,140.0,0.257143,0.438628,0.0,0.00,0.0,1.0,1.0
learning_pref_books,140.0,0.550000,0.499280,0.0,0.00,1.0,1.0,1.0
learning_pref_chatgpt,140.0,0.007143,0.084515,0.0,0.00,0.0,0.0,1.0
learning_pref_offline_courses,140.0,0.014286,0.119092,0.0,0.00,0.0,0.0,1.0
learning_pref_online_courses,140.0,0.935714,0.246142,0.0,1.00,1.0,1.0,1.0
learning_pref_personal_projects,140.0,0.564286,0.497631,0.0,0.00,1.0,1.0,1.0
learning_pref_teaching,140.0,0.007143,0.084515,0.0,0.00,0.0,0.0,1.0
learning_pref_teamwork,140.0,0.435714,0.497631,0.0,0.00,0.0,1.0,1.0
learning_pref_workshops,140.0,0.550000,0.499280,0.0,0.00,1.0,1.0,1.0
motivation_career,140.0,0.014286,0.119092,0.0,0.00,0.0,0.0,1.0
motivation_challenges,140.0,0.750000,0.434568,0.0,0.75,1.0,1.0,1.0
motivation_creativity_and_innovation,140.0,0.007143,0.084515,0.0,0.00,0.0,0.0,1.0
motivation_money_and_job,140.0,0.471429,0.500975,0.0,0.00,0.0,1.0,1.0
motivation_personal_growth,140.0,0.857143,0.351184,0.0,1.00,1.0,1.0,1.0
motivation_remote,140.0,0.007143,0.084515,0.0,0.00,0.0,0.0,1.0

In [27]:
pd.set_option('display.max_columns', 100)
df.columns
#pd.reset_option('display.max_info_rows')

Index(['age', 'edu_level', 'fav_animals', 'fav_place', 'gender', 'hobby_art',
       'hobby_books', 'hobby_movies', 'hobby_other', 'hobby_sport',
       'hobby_video_games', 'industry', 'learning_pref_books',
       'learning_pref_chatgpt', 'learning_pref_offline_courses',
       'learning_pref_online_courses', 'learning_pref_personal_projects',
       'learning_pref_teaching', 'learning_pref_teamwork',
       'learning_pref_workshops', 'motivation_career', 'motivation_challenges',
       'motivation_creativity_and_innovation', 'motivation_money_and_job',
       'motivation_personal_growth', 'motivation_remote', 'sweet_or_salty',
       'years_of_experience', 'age_min', 'age_max', 'fav_animal_tags'],
      dtype='object')

Konwersja przedziałów wiekowych w string na dwie osobne kolumny. Dzięki temu można będzie operować na liczbach.

In [6]:
df['age'].unique()

array(['<18', '25-34', '45-54', '35-44', '18-24', '>=65', '55-64',
       'unknown'], dtype=object)

In [7]:
def age_interval_to_numeric(age_str):
    if age_str.startswith('<'):
        return (0, int(age_str[1:]))
    if '>=' in age_str:
        return (int(age_str.replace('>=', '')), 100)
    if age_str == 'unknown':
        return (None, None) 
    min_age, max_age = age_str.split('-')
    return (int(min_age), int(max_age))

df['age_min'], df['age_max'] = zip(*df['age'].map(age_interval_to_numeric))

In [8]:
df[['age', 'age_min', 'age_max']].sort_values(by=['age_min', 'age_max'])

         age  age_min  age_max
0        <18      0.0     18.0
9      18-24     18.0     24.0
53     18-24     18.0     24.0
82     18-24     18.0     24.0
121    18-24     18.0     24.0
..       ...      ...      ...
49      >=65     65.0    100.0
65      >=65     65.0    100.0
124     >=65     65.0    100.0
48   unknown      NaN      NaN
94   unknown      NaN      NaN

[140 rows x 3 columns]

In [9]:
age_values  = df['age_min'].dropna().sort_values().unique().tolist()
age_values

[0.0, 18.0, 25.0, 35.0, 45.0, 55.0, 65.0]

In [10]:
edu_level_sel = df['edu_level'].dropna().unique()
df = df[df['edu_level'].isin(edu_level_sel)]
df

,age,edu_level,fav_animals,fav_place,gender,hobby_art,hobby_books,hobby_movies,hobby_other,hobby_sport,...,motivation_career,motivation_challenges,motivation_creativity_and_innovation,motivation_money_and_job,motivation_personal_growth,motivation_remote,sweet_or_salty,years_of_experience,age_min,age_max
0,<18,Podstawowe,Brak ulubionych,NaN,1.0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,0-2,0.0,18.0
1,25-34,Średnie,Psy,Nad wodą,0.0,0,0,1,0,0,...,0,1,0,0,1,0,sweet,11-15,25.0,34.0
2,45-54,Wyższe,Psy,W lesie,0.0,0,0,1,0,0,...,0,1,0,1,1,0,salty,>=16,45.0,54.0
3,35-44,Średnie,Koty,W górach,0.0,0,1,1,0,1,...,0,1,0,1,1,0,sweet,11-15,35.0,44.0
4,35-44,Wyższe,Psy,Nad wodą,0.0,0,0,0,1,1,...,0,1,0,0,1,0,sweet,>=16,35.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,35-44,Wyższe,Koty,W górach,0.0,0,0,0,0,1,...,0,1,0,1,0,0,salty,6-10,35.0,44.0
136,35-44,Wyższe,Psy,W górach,0.0,0,0,0,1,1,...,0,1,0,1,0,0,sweet,11-15,35.0,44.0
137,45-54,Wyższe,Psy,W lesie,1.0,0,1,1,1,0,...,0,0,0,1,1,0,sweet,11-15,45.0,54.0
138,35-44,Wyższe,Psy,Nad wodą,1.0,0,0,1,0,0,...,0,1,0,1,1,0,salty,6-10,35.0,44.0
139,18-24,Średnie,Inne,W górach,0.0,0,0,1,0,0,...,0,0,0,1,1,0,sweet,0-2,18.0,24.0

In [11]:
df['fav_animals'].unique()

array(['Brak ulubionych', 'Psy', 'Koty', 'Inne', 'Koty i Psy'],
      dtype=object)

Dodać kolumnę z tagami aby wartości 'Koty i Psy' były powiązane z 'Koty' oraz 'Psy'.

In [12]:
def split_animals(x):
    if 'Koty' in x and 'Psy' in x:
        return ['Koty', 'Psy']
    else:
        return [x]
    
df['fav_animal_tags'] = df['fav_animals'].apply(split_animals)

In [13]:
tags = set(df['fav_animal_tags'].explode().unique())
tags
df['fav_animal_tags'].isna().sum()

0

In [14]:
df['fav_place'].unique()

array([nan, 'Nad wodą', 'W lesie', 'W górach', 'Inne'], dtype=object)

In [15]:
df['fav_place'] = df['fav_place'].fillna('Brak ulubionego')
df

,age,edu_level,fav_animals,fav_place,gender,hobby_art,hobby_books,hobby_movies,hobby_other,hobby_sport,...,motivation_challenges,motivation_creativity_and_innovation,motivation_money_and_job,motivation_personal_growth,motivation_remote,sweet_or_salty,years_of_experience,age_min,age_max,fav_animal_tags
0,<18,Podstawowe,Brak ulubionych,Brak ulubionego,1.0,0,0,0,0,0,...,0,0,0,0,0,NaN,0-2,0.0,18.0,[Brak ulubionych]
1,25-34,Średnie,Psy,Nad wodą,0.0,0,0,1,0,0,...,1,0,0,1,0,sweet,11-15,25.0,34.0,[Psy]
2,45-54,Wyższe,Psy,W lesie,0.0,0,0,1,0,0,...,1,0,1,1,0,salty,>=16,45.0,54.0,[Psy]
3,35-44,Średnie,Koty,W górach,0.0,0,1,1,0,1,...,1,0,1,1,0,sweet,11-15,35.0,44.0,[Koty]
4,35-44,Wyższe,Psy,Nad wodą,0.0,0,0,0,1,1,...,1,0,0,1,0,sweet,>=16,35.0,44.0,[Psy]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,35-44,Wyższe,Koty,W górach,0.0,0,0,0,0,1,...,1,0,1,0,0,salty,6-10,35.0,44.0,[Koty]
136,35-44,Wyższe,Psy,W górach,0.0,0,0,0,1,1,...,1,0,1,0,0,sweet,11-15,35.0,44.0,[Psy]
137,45-54,Wyższe,Psy,W lesie,1.0,0,1,1,1,0,...,0,0,1,1,0,sweet,11-15,45.0,54.0,[Psy]
138,35-44,Wyższe,Psy,Nad wodą,1.0,0,0,1,0,0,...,1,0,1,1,0,salty,6-10,35.0,44.0,[Psy]
139,18-24,Średnie,Inne,W górach,0.0,0,0,1,0,0,...,0,0,1,1,0,sweet,0-2,18.0,24.0,[Inne]

In [ ]:
df['age_mid'] = (df['age_min'] + df['age_max']) / 2

In [ ]:
df['industry'].unique()

In [17]:
from ydata_profiling import ProfileReport
ankieta_raport = ProfileReport(df, title="Ankieta")
ankieta_raport.to_file("ankieta_raport.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 31/31 [00:00<00:00, 313.58it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]